

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

html, body, button {
    font-size: 14px;
       font-family: 'Roboto', arial,sans-serif;
}

/* --------------------- Styling for Header -----------------------*/

.docheader {
    display: grid;
    grid-template-columns: 80px 60px auto 60px 60px 54px 54px ;
    grid-template-rows: 60px; 
    padding: 6px 6px 6px 6px;
    height: 60px;
}

.aboutLink {
    margin-left:15px;
    padding: 13px 5px 5px 5px;
}
.storeLink {
    padding: 13px 5px 5px 5px;

}
.gmailLink, .imagesLink {
    font-size:13px;
    padding: 13px 5px 5px 5px;

}

.appsLink {
    height: 30px;
    width: 30px;
    padding: 8px 8px 8px 8px;
}

.profileLink {
    margin-right: 15px;
    padding: 8px 8px 8px 8px;
    vertical-align: middle;
}

.apps-image {
    height: 32px;
    width: 32px;
}

.profile-image {
    height: 32px;
    width: 32px;
}

.apps-image:hover {
    background-color:lightgray;
    border-radius:50%;
    }

.profile-image:hover {
    background-color:lightgray;
    border-radius:50%;
}

/* --------------------- Styling for Body -----------------------*/

.google-logo {
    height: 92px;
    weight: 272px; 
    object-fit: contain;
    object-position: bottom;
    margin-top: auto;
}

.center-logo {
    display: flex;
    flex-direction: column;
    align-items: center ;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    }

/* --------------------- Styling for Search Bar -----------------------*/

.form-buttons {

    padding: 26px 20px 20px 20px;
    display: block;
    max-height: 160px;
    max-width: 584px;
    width: auto;
    margin: 0 auto;
    position: relative;
}

.search-bar {
    width: 564px;
}

.search-button {
    margin: 20px 20px 20px 20px;
    position: relative;
    left: 135px
}

.lucky-button {
    margin: 20px 20px 20px 20px;
    position: relative;
    left: 115px;
}

.search-image {
    position: relative;
    bottom: 84px;
    left: 3px;
}

.mic-image {
    position: relative;
    bottom: 84px;    
    left: 511;
}


.carbonBlock {
    background-color:lightgray;
    display:flex; 
    justify-content: center;
    position: relative;
    top: 29%;
    align-self: center;
    padding: 15px 15px 15px 15px;
/*
    position: relative;
    height: 
    bottom: 0px;
    */
} 


.footer {
    background-color:lightgray;
    display:flex;
    height: 52px;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 29%;
    margin-bottom:15px;
    
}

.bottomEmpty1 {
    display:flex;
    width: 10%;
}

.bottomLeftLinks {
   display: flex;
    order: 0;
    margin-bottom: 15px;
}

.advertisingLink{ 
    padding: 0 5 0 5;
}

.businessLink {
    padding: 0 5 0 5;
}

.howLink {
    padding: 0 5 0 5;
}

.bottomRightLinks {
    display: flex; 
    order: 2;
    margin-bottom: 15px;
}

.privacyLink {
    padding: 0 5 0 5;
}

.termsLink {
    padding: 0 5 0 5;
}

.settingsLink {
    padding: 0 5 0 5;
}
